@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}


/*header*/
header {
    width: 100%;
    height: 90px;
    border-bottom: 1px solid gray;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    
    background: -webkit- transparent;
    background: -ms- transparent;
    background: transparent;
    /*    outline: 2px solid lime;*/
}





header .header_inner {

    /*
    width: 90%;
    max-width: 1280px;
*/
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    box-sizing: border-box;

    height: 100%;
    margin: 0 auto;
    /*    outline: 2px solid lime;*/

}

.header_inner .logo {
    float: left;
    margin-top: 22px;
    width: 170px;
    height: 43px;
    /*    outline: 2px solid lime;*/
}

.header_inner .logo a {
    width: 100%;
}

.header_inner .logo img {
    width: 100%;
    height: 100%;
    display: block;
}




.header_inner nav {
    float: right;
    text-align: center;
    width: 640px;
    height: 100%;
/*    outline: 2px solid lime;*/
}






nav .menu > li {
    float: left;
    width: 160px;
    height: 60px;
    margin-top: 30px;
    position: relative;
/*        outline: 2px solid red;*/
}

/*
nav .menu > li:hover > a {
    color: #75D701;
}
*/

nav .menu > li > a {
    font-weight: 100;
    font-size: 22px;
    color: #fff;
}

.smenu {
    width: 100%;
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
}

.smenu .smenu_inner {
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    height: 260px;
/*    outline: 2px solid lime;*/
    background:transparent;
    position: relative;

}

.smenu_inner .smenu_wrap ul{
    float:left;  
    line-height: 3;
    text-align: center;
}

.smenu_wrap{
    position: relative;
    position: absolute;
    width: 50%;
    left:50%;
/*    outline: 2px solid blue;*/
    height: 100%;
/*    z-index: 1;*/
}
.smenu_wrap ul li{
    width: 160px;
}

.smenu_inner a{
    font-size:20px;
    color:#333;
    font-weight: 100;
    display: block;
}

.smenu_inner li:hover a{
    color: #00512a;
    text-decoration: underline;
}



/*
.menu .sub {
    width: 160px;
    background-color: #333;
    position: absolute;
    left: 0;
    top: 60px;
    display: none;
}

.menu .sub li {
    line-height: 2;
    background-color: #333;
    color:#fff;
}

.menu .sub li:hover a {
    font-weight: bold;
    color: #75D701;
    text-decoration: underline;

}

.menu .sub a {
    color: #fff;
    display: block;
}
*/






header.on {
    /*    background-color: #fff;*/
    background-color: rgba(255, 255, 255, 0.9);
}

header.on nav .menu > li > a {
    color: #333;
}

header.on nav .menu > li:hover a {
    color: #00512a;
}

/*
header.on .menu .sub li {
    line-height: 2;
    background-color: #fff;
}

header.on .menu .sub li:hover a {
    color: #00512a;
}

header.on .menu .sub a {
    color: #333;
}
*/
