/*main*/

main {
    width: 100%;
    /*margin-top: 90px;*/
    height: 800px;
/*    outline: 2px solid red;*/
}

main .main_view {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    /*    outline: 2px solid blue;*/
}

.main_view .main_gallery {
    width: 300%;
    /*    width: 5760px;*/
    /*    outline: 2px solid lime;*/
    position: relative;
    left: 0;
}

.main_gallery li {
    float: left;
    width: 33.33%;
    height: 800px;
/*    outline: 3px solid red;*/
}

.main_gallery>.main1{
    background: url(../img/main/main1_2.jpg) center/cover;
}

.main_gallery>.main2{
    background: url(../img/main/main2_2.jpg) center/cover;
}

.main_gallery>.main3{
    background: url(../img/main/main3_2.jpg) center/cover;
}

.main_gallery .view_inner{
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
/*    outline: 2px solid lime;*/
    color:#fff;
    padding-top: 200px;
    
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: all 3s;
    -ms-transition: all 3s;
    transition: all 3s;
}

.main_gallery li.on .view_inner{
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    
}



.view_inner h2{
    font-size:50px;
    font-weight: bold;
}

.view_inner p{
    font-size:28px;
    margin-top: 40px;
    line-height: 1.8;
    font-weight: 100;
}



.main_gallery li img {
    display: block;
    /*width: 100%;*/
    height: 100%;
}

.main_view .main_btngrp {
    /*    outline: 2px solid red;*/
    position: absolute;
    left: 50%;
    bottom: 1%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.main_btngrp > li {
    float: left;
    color: #fff;
}

.main_btngrp > li:nth-child(2) {
    margin: 0 10px;
}

.main_btngrp > li.on {
    color: bisque;
}

/*section*/

/*health*/
.health {
    width: 100%;
    height: 600px;
    background: url(../img/main/health_bg.jpg) no-repeat center/cover;
    background-attachment: fixed;
    overflow: hidden;
}

.health .health_inner {
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    box-sizing: border-box;

    margin: 0 auto;
    padding-top: 40px;
    color: #fff;
/*    position: relative;*/
    /*    overflow: hidden;*/
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: all 2s;
    -ms-transition: all 2s;
    transition: all 2s;

}

.health .health_inner.on{
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    
}


.health_inner > h2 {
    text-align: center;
    font-size: 50px;
    line-height: 76px;
    margin-top: 40px;

}

.health_inner .health_wrap {
    margin: 0 auto;
    margin-top: 80px;
    width: 1040px;

}

.health_wrap .health_box {
    float: left;
    text-align: center;
    width: 33.33%;
    /*    width: 250px;*/
}

.health_box img {
    width: 80px;
}

.health_box .care_title {
    font-size: 40px;
    margin-top: 10px;
}

.health_box .care_explain {
    font-size: 20px;
    font-weight: thin;
    margin-top: 16px;
}



/*best*/
.best_wrap {
    width: 100%;
    height: 760px;
    background: url(../img/main/best_bg.jpg);
}


.best_wrap .best_inner {
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    box-sizing: border-box;

    margin: 0 auto;

}


.best_inner > p {
    font-size: 30px;
    padding-top: 80px;
    line-height: 1.8;
    /*    outline: 2px solid red;*/
}


.best_inner > p > b {
    color: #00512a;
}

.best_inner .best_pd_list {
    left: 50%;
    margin-left: -365px;
    margin-top: 57px;
    width: 730px;
/*    overflow: hidden;*/
    position: relative;
}

.best_pd_wrap {
    width: 730px;
    /*    outline: 2px solid red;*/
}


.best_pd_list .bbtn_wrap {
/*        outline: 2px solid lime;*/
    position: absolute;
    bottom: 110px;
/*    left: 44px;*/
    z-index: 10;
}


.bbtn_wrap .bbtn {
    float: left;
    width: 40px;
    height: 38px;
}

.bbtn_wrap .bprev {
    margin-right: 3px;

}


.bbtn_wrap .bprev > a {

    width: 100%;
    height: 100%;
    display: block;
    background: url(../img/main/best_pre.png) no-repeat;
    /*    outline: 2px solid blue;*/
}

.bbtn_wrap .bprev > a:hover {
    background-position: 0 -38px;
}


.bbtn_wrap .bnext > a {
    width: 100%;
    height: 100%;
    display: block;
    background: url(../img/main/best_next.png) no-repeat;
}

.bbtn_wrap .bnext > a:hover {
    background-position: 0 -38px;
}


.bbtn_wrap span {
    display: block;
    text-indent: -9999px;
}




.best_pd_list .best_pd_slide {
    /*    width: 2150px;*/
/*    width: 2400px;*/
    /*    width: 2040px;*/
    width: 100%;
    height: 500px;
/*    outline: 2px solid red;*/
/*    background: url(../img/main/best_bg.jpg);*/
    position: relative;
    color:#333;
}

.best_pd_slide .best_pd_wrap {
/*    float: left;*/
    position: absolute;
    display: none;
/*     background-color: rgba(255,255,255,0.8);*/
/*    opacity: 0;*/
}

.best_pd_wrap.on{
    z-index: 1;
    display: block;
/*   opacity: 1;*/
}


.best_pd_wrap .best_pd {
    float: left;
    margin-top: 70px;
    /*    outline: 2px solid lime;*/
}

.best_pd .pd_num {
    color: #00512a;
    font-weight: bold;
    font-size: 20px;
}

.best_pd_wrap .pd_ex {
    font-size: 28px;
    margin-top: 16px;
}

.best_pd_wrap .pd_name {
    font-size: 34px;
    font-weight: bold;
    margin-top: 16px;
}

.best_pd_wrap .best_more {
    margin-top: 16px;
    display: inline-block;
    color: #00512a;
    border: 2px solid #00512a;
    box-sizing: border-box;
    padding: 10px 41px;
}

.best_pd_wrap .best_more:hover {
    background-color: #00512a;
    color: #fff;
}


.best_pd_wrap .pd {
    float: right;
    /*    outline: 2px solid lime;*/
}

.pd img {
    width: 500px;
}


/*brand*/
.brand {
    width: 100%;
    margin-top: 70px;
}



.brand_inner {
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    color:#333;
    /*        outline: 2px solid lime;*/
}

.brand_inner > h2 {
    width: 90px;
    background: url(../img/main/line.png) no-repeat;
    background-repeat: repeat-x;
    background-position: bottom;
}

.brand_pd_list {
    /*    outline: 2px solid red;*/

}

.brand_inner .brand_pd_list .brand_pd_wrap {
    float: left;
    width: 24%;
    margin-right: 10px;
    margin-top: 40px;
    text-align: center;
    /*        outline: 2px solid blue;*/

}

.brand_pd_wrap:nth-child(1),
.brand_pd_wrap:nth-child(5) {
    /*    margin-left: 50px;*/
}

.brand_pd_wrap:nth-child(4),
.brand_pd_wrap:nth-child(8) {
    margin-right: 0;
    /*    outline: 2px solid yellow;*/
}


.brand_inner .brand_pd_list .brand_pd_wrap .brand_img_wrap {
    width: 250px;
    height: 250px;
    background-color: #f6f6f6;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;

    /*    float:left;*/
    /*    outline: 2px solid blue;*/
}

.brand_img_wrap:hover .brand_over {
    display: block;
}


.brand_img_wrap > a > img {
    width: 250px;
    display: block;
}

.brand_img_wrap .brand_over {

    /*    background-color: #00512a;*/
    background-color: rgba(0, 81, 42, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: none;
}

.brand_img_wrap .brand_over a {
    /*    display: block;*/
    /*    outline: 2px solid red;*/

    /*    text-align: center;*/
}

.brand_img_wrap .brand_over a {
    display: block;
    color: #fff;
    font-size: 22px;
    width: 100%;
    height: 100%;
    margin-top: 65px;
}

.brand_img_wrap .brand_over a > p {
    margin-top: 20px;
}

.brand_pd_wrap .brand_title {
    margin-top: 16px;
    font-size: 22px;
}

.brand_pd_wrap .brand_ex {
    margin-top: 16px;
}

.brand_inner .brand_btn {
    margin-top: 30px;
    display: inline-block;
    border: 2px solid #00512a;
    border-radius: 30px;
    color: #00512a;
    font-size: 20px;
    padding: 10px 70px;
    /*    outline: 2px solid red;*/
    font-weight: bold;
}



.brand_btn:hover {
    background-color: #00512a;
    color: #fff;
    -webkit-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}





/*contribute*/
.contribute {
    margin-top: 110px;
    width: 100%;
    background-color: #fff4e0;
    padding: 50px 0;
    color: #333;
}

.contribute .contribute_inner {
    /*
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
*/

    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    /*    outline: 2px solid lime;*/
}

.contribute_inner > p:nth-child(1) {
    font-size: 22px;
}

.contribute_inner > p:nth-child(1) > b {
    color: #00512a;
}

.contribute_inner > p:nth-child(2) {
    margin-top: 10px;
}

.contribute .contribute_slide {
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 50px;
    /*        outline: 2px solid red;*/
    position: relative;
    overflow: hidden;
}

.contribute_slide .cbtn {
    width: 24px;
    height: 44px;
    /*    outline: 2px solid green;*/
    position: absolute;
    z-index: 20;
    bottom: 0%;
    cursor: pointer;
}

.contribute_slide .cprev {
    background: url(../img/main/btn_main_prev.png) no-repeat;
    background-position: 0px -44px;
    left: 33%;
}

.contribute_slide .cprev:hover {
    background-position: 0px 0px;
}

.contribute_slide .cnext {
    background: url(../img/main/btn_main_next.png) no-repeat;
    background-position: 0px -44px;
    right: 33%;
}

.contribute_slide .cnext:hover {
    background-position: 0px 0px;
}

.contribute_slide .cbtn span {
    display: block;
    text-indent: -9999px;
    /*    outline: 2px solid red;*/
}

.contribute_slide .contribute_gallery {
    width: 500px;
    height: 400px;
    /*
    width: 100%;
    height: 100%;
*/
    position: relative;
    left: 50%;
    top: 40px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    /*    outline: 2px solid blue;*/
}

.contribute_gallery .contribute_wrap {
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}



.contribute_gallery .con_num1,
.contribute_gallery .con_num2,
.contribute_gallery .con_num3,
.contribute_gallery .con_num4,
.contribute_gallery .con_num5,
.contribute_gallery .con_num6 {
    position: absolute;
    width: 100%;
}

.contribute_imgbox img {
    width: 100%;
    border-radius: 10px;
}


.con_num1 {
    left: -800px;
    top: -70px;
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0;
}

.con_num2 {
    left: -450px;
    top: 0px;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);

}

.con_num3 {
    left: 0;
    top: 0;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    font-size: 22px;
}

.con_num4 {
    left: 450px;
    top: 0px;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}

.con_num5 {
    left: 800px;
    top: -70px;
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0;
}

.con_num6 {
    left: 1150px;
    top: -90px;
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0;
}

.contribute_wrap .contribute_title {
    margin-bottom: 10px;
}


/*
.contribute_slide .contribute_gallery {
    width: 1800px;
    outline: 2px solid red;

}

.contribute_gallery .contribute_wrap {
    float: left;
}

.contribute_wrap .contribute_title {
    text-align: center;
}

.contribute_wrap .contribute_imgbox img {
    width: 300px;
    display: block;
}
*/



.contribute_slide .contribute_btngrp {
    margin: 0 auto;
    margin-top: 80px;
    /*    outline: 2px solid blue;*/
    width: 138px;



}


.contribute_slide .contribute_btngrp > li {
    float: left;
    margin-right: 8px;
    color: #eed6aa;
}

.contribute_btngrp > li:last-child {
    margin-right: 0;
}


.contribute_btngrp > li.on {
    color: #fff;
}


/*news*/
.news {
    width: 100%;
    /*height: 377px;*/
    margin-top: 70px;

    /*outline: 2px solid red;*/
    /*background-color: #00512a;*/
    /*    position: relative;*/
}

.news .news_subtitle {
    background-color: #fff;
    padding-bottom: 40px;
}

.news_subtitle > h2 {
    width: 1280px;
    margin: 0 auto;

}

.news > .news_subtitle > h2 > span {
    background: url(../img/main/line.png) no-repeat;
    background-repeat: repeat-x;
    background-position: bottom;
}


.news .news_inner {
    /*    outline: 2px solid pink;*/
    /*    position: relative;*/
    /*
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    box-sizing: border-box;
*/
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    /*background-color: #00512a;*/
    position: relative;
}

.news .news_inner:before {
    content: "";
    display: block;
    width: 36.66666666666667%;
    /*width: 610px;*/
    height: 100%;
    background-color: #00512a;
    position: absolute;
    left: 0;
    top: 0;
}

.news_inner .news_wrap {
    /*
    width: 1280px;
    margin: 0 auto;
*/
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;

    position: relative;
    /*요소가 맨 앞으로~*/
    /*    outline: 3px solid lime;*/
}


.news_inner .news_wrap .news_notice {
    width: 20%;
    /*1280px의 30%, 704px*/
    height: 100%;
    float: left;
    /*position: absolute;
    left: 0;*/

    /*    background-color: rgba(0,0,0,0.6);*/
}

.news_notice p {
    font-size: 24px;
    color: #fff;
}

.news_notice .news_more_box {
    margin-top: 75px;
}

.news_notice .news_more_box .news_more_btn {
    color: #fff;
}

.news_notice .news_more_box .news_more_btn:hover {
    text-decoration: underline;
}

.news_wrap .news_list {
    width: 80%;
    float: right;
    padding-left: 50px;
    box-sizing: border-box;
    /*    outline: 2px solid blue;*/
    background-color: #fff;
    color:#333;
    /*position: absolute;
    left: 22%;*/

    /*
    left:50%;
    transform: translate(-28%);
*/
}

.news_list .news_box {
    margin-top: 30px;
}

.news_box:first-child {
    /*    margin-top: 0;*/
}

.news_list .news_box:last-child {
    padding-bottom: 40px;
}

.news_list .news_box:after {
    content: "";
    display: block;
    clear: both;
}

.news_list .news_box .news_title,
.news_list .news_box .news_date {
    float: left;
/*    cursor: pointer;*/
}


.news_box:hover .news_title,
.news_box:hover .news_date {
    text-decoration: underline;
}

.news_box .news_title {
    font-size: 24px;
    width: 550px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /*    outline: 2px solid green;*/
}

.news_box .news_date {
    margin-left: 150px;
}



#m_page1,
#m_page2,
#m_page3,
#m_page4,
#m_page5 {
    opacity: 0;
}



#badge {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 2px solid indianred;
    background-color: #fff;
    text-align: center;
    position: absolute;
    top: 130px;
    right: 100px;
    z-index: 99;
}
#badge .point {
    width: 30px;
    height: 30px;
    display: block;
    background-color: #fff;
    border-top: 2px solid indianred;
    border-right: 2px solid indianred;
    position: absolute;
    left: 70%;
    top: 3px;
    transform: rotate(-13deg);
}
#badge .close {
    font-size: 28px;
    position: absolute;
    right: 0;
    top: -6px;
    color: indianred;
    cursor: pointer;
}
#badge .box {
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
}
#badge .box img {
    width: 60%;
}
#badge .box .title {
    font-size: 18px;
    background: #eee;
    width: 76%;
    margin: 10px auto;
    padding: 8px 0;
    border-radius: 50px;
}
#badge .box .des {
    margin-top: 0;
    letter-spacing: -0.4px;
}