@charset "utf-8";

/*sub1_4*/


section .intro {
    width: 100%;
    height: 400px;
    background: url(../img/sub1_1/company-1.jpg) no-repeat center;
    background-size: cover;
}

.intro .intro_inner {
    width: 100%;
    max-width: 1320px;  
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    color: #fff;
}

.intro .intro_inner h2 {
    padding-top: 140px;
    font-size: 36px;
}

.intro .intro_inner p {
    margin-top: 30px;
    font-size: 24px;
}


/*sub menu*/
section .sub_menu {
    border-bottom: 5px solid #00512a;
    text-align: center;
    height: 70px;
}

.sub_menu .sub_menu_inner {
    width: 1280px;
    margin: 0 auto;

}

.sub_menu .sub_menu_inner div{
    float:left;
    width: 320px;
    font-size: 20px;
    line-height: 70px;
    position: relative;      
}
.sub_menu .sub_menu_inner div:after{
    height: 42px;
    border: 1px solid gray;
    content: "";
    display: block;
    position: absolute;
    left:320px;
    top:50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.sub_menu .sub_menu_inner div:last-child:after{
    content: none;
}

.sub_menu .sub_menu_inner div.on{
    background: url(../img/sub1_1/choice.png) no-repeat;
    background-position: center bottom;
    font-weight: bold;
}
.sub_menu .sub_menu_inner div.on a{
    color:#00512a;
}

.sub_menu .sub_menu_inner a:hover {
    color: #00512a;
    font-weight: bold;
}

/*location*/

.location{
    margin-top: 70px;
    margin-bottom: 70px;
    width: 100%;
}

.location .location_inner{
    width: 100%;
    max-width: 1320px;  
    padding: 0 20px;
    box-sizing: border-box; 
    margin: 0 auto;
}

.location_inner h2{
    font-size: 36px;
}

.location_inner .lo_container{
    margin-top: 30px;
}

.lo_container .lo_wrap{
    float:left;
}
.lo_container .lo_map{
    float:right;
}


.lo_wrap .lo_box{
    margin-top: 30px;
    cursor: pointer;
    width: 440px;
}

.lo_wrap .lo_box.on{
    background: url(../img/sub1_4/map_arrow.png) no-repeat;
    background-position: right center;
    box-sizing: border-box;
    border-bottom: none;
}




.lo_wrap .lo_box:first-child{
    margin-top: 0;
}

.lo_wrap .lo_box h3{
    font-size:20px;
    font-weight: 400;
}


.lo_wrap .lo_box>div{
    margin-top: 10px;
}



.lo_wrap .lo_box img{
    width: 22px;
}

.lo_wrap .lo_box .lo_txt{
    padding-left: 10px;
}

.lo_wrap .lo_box .lo_address{
    margin-top: 20px;
}


.lo_wrap .lo_box .lo_address .lo_img,
.lo_wrap .lo_box .lo_address .lo_txt{
    float:left;
}

.lo_wrap .lo_box .lo_address:after{
    content: "";
    display: block;
    clear: both;
}

.lo_wrap .lo_box .lo_tel .lo_img,
.lo_wrap .lo_box .lo_tel .lo_txt{
    float:left;
}

.lo_wrap .lo_box .lo_tel:after{
    content: "";
    display: block;
    clear: both;
}


.lo_wrap .lo_box .lo_fax .lo_img,
.lo_wrap .lo_box .lo_fax .lo_txt{
    float:left;
}

.lo_wrap .lo_box .lo_fax:after{
    content: "";
    display: block;
    clear: both;
}

.lo_container .lo_map{
    width: 750px;
    height: 510px;
    margin-left: 30px;
}

.lo_map iframe{
    width: 100%;
    height: 100%;
}


