@charset "utf-8";

/*sub1_2*/


section .intro {
    width: 100%;
    height: 400px;
    background: url(../img/sub1_1/company-1.jpg) no-repeat center;
    background-size:cover;
}

.intro .intro_inner {
    width: 100%;
    max-width: 1320px;  
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    color: #fff;
}

.intro .intro_inner h2 {
    padding-top: 140px;
    font-size: 36px;
}

.intro .intro_inner p {
    margin-top: 30px;
    font-size: 24px;
}


/*sub menu*/
section .sub_menu {
    border-bottom: 5px solid #00512a;
    text-align: center;
    height: 70px;
}

.sub_menu .sub_menu_inner {
    width: 1280px;
    margin: 0 auto;

}

.sub_menu .sub_menu_inner div{
    float:left;
    width: 320px;
    font-size: 20px;
    line-height: 70px;
    position: relative;      
}
.sub_menu .sub_menu_inner div:after{
    height: 42px;
    border: 1px solid gray;
    content: "";
    display: block;
    position: absolute;
    left:320px;
    top:50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.sub_menu .sub_menu_inner div:last-child:after{
    content: none;
}

.sub_menu .sub_menu_inner div.on{
    background: url(../img/sub1_1/choice.png) no-repeat;
    background-position: center bottom;
    font-weight: bold;
}
.sub_menu .sub_menu_inner div.on a{
    color:#00512a;
}

.sub_menu .sub_menu_inner a:hover {
    color: #00512a;
    font-weight: bold;
}



/*management*/

.management{
    margin-top: 100px;
    margin-bottom: 100px;
    color:#333;
}

.management .management_inner{
    width: 100%;
    max-width: 1320px;  
    padding: 0 20px;
    box-sizing: border-box;    
    margin: 0 auto;
}


.management_inner>h2{
    font-size: 40px;
}

.management_inner>p{
    margin-top: 30px;
    font-size: 26px;
}

.management_inner .management_txt_wrap{
    margin-top: 20px;
    width: 100%;
}

.management_txt_wrap .management_txt{
    width: 33.33%;
    float:left;
}
.management_txt{
    margin-top: 40px;
    position: relative;
    padding-bottom: 20px;
}

.management_txt:after{
    content: "";
    display: block;
    position: absolute;    
    width: 300px;
    height: 1px;
    background-color: #ccc;
    bottom: 0;
    
}

.management_txt:nth-child(4),
.management_txt:nth-child(5){
    margin-top: 100px;
}

.management_txt>h3{
    font-size:22px;
}

.management_txt>h3>span{
    color:#00512a; 
}

.management_txt>p{
    margin-top: 10px;
    line-height: 1.8;
}








