@charset "utf-8";

/*sub2_1_lactofit*/

section {
    /*    margin-top: 90px;*/

}


/*brand shop*/
.brand_shop {
    width: 100%;
    height: 400px;
    background: url(../img/sub2_1/brand.png) no-repeat center/cover;
}

.brand_shop .bs_inner {
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    /*    outline: 2px solid lime;*/
    color: #fff;
}

.bs_inner h2 {
    padding-top: 140px;
    font-size: 36px;
}

.bs_inner p {
    margin-top: 30px;
    font-size: 24px;
}





/*brand_promega_detail*/
.brand_promega_detail {
    margin-top: 50px;
    margin-bottom: 50px;
}

.brand_promega_detail .detail_inner {
    width: 100%;
    max-width: 1100px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    /*    outline: 2px solid lime;*/
}

.brand_promega_detail .detail_inner .detail_wrap .detail_img,
.brand_promega_detail .detail_inner .detail_wrap .detail_info {
    float: left;
}

.brand_promega_detail .detail_inner .detail_wrap .detail_img img {
    width: 350px;
    /*    width: 220px;*/
    display: block;
}

.brand_promega_detail .detail_inner .detail_wrap .detail_info {
    margin-left: 50px;
    width: 550px;
    /*    outline: 2px solid blue;*/
}


.brand_promega_detail .detail_inner .detail_wrap .detail_info > h3 {
    font-size: 30px;
    margin-top: 40px;
    color:#007500;
}

.brand_promega_detail .detail_inner .detail_wrap .detail_info > p {
    margin-top: 20px;
}

.brand_promega_detail .detail_inner .detail_wrap .detail_info .buy_btn {
    display: inline-block;
    margin-top: 40px;
    /*    background-color: #00512a;*/
    border: 2px solid #00512a;
    color: #00512a;
    font-weight: bold;
    padding: 10px 40px;

}

.brand_promega_detail .detail_inner .detail_wrap .detail_info .buy_btn:hover {
    background-color: #00512a;
    color: #fff;
}



.brand_promega_detail .detail_inner .info_title {
    font-size: 22px;
    margin-top: 50px;
    position: relative;
    padding-left: 10px;
}

.brand_promega_detail .detail_inner .info_title:before {
    display: block;
    content: "";
    position: absolute;
    width: 7px;
    height: 20px;
    background-color: #00512a;
    top: 7px;
    left: 0;

}



.brand_promega_detail .detail_inner .info_table {
    border: 1px solid #333;
    border-collapse: collapse;
    margin-top: 20px;

}

.brand_promega_detail .detail_inner .info_table th {
    border: 1px solid #333;
    background-color: #f6f6f6;
    width: 150px;
    text-align: center;
}

.brand_promega_detail .detail_inner .info_table td {
    border: 1px solid #333;
    width: 800px;
    padding: 10px 0;
    padding-left: 10px;
}

/*
.brand_promega_detail .detail_inner .info_table
.info_pd{
    width: 150px;
}
*/

.brand_promega_detail .detail_inner .ingestion_title {
    font-size: 22px;
    margin-top: 50px;
    position: relative;
    padding-left: 10px;
}

.brand_promega_detail .detail_inner .ingestion_title:before {
    display: block;
    content: "";
    position: absolute;
    width: 7px;
    height: 20px;
    background-color: #00512a;
    top: 7px;
    left: 0;

}



.brand_promega_detail .detail_inner .ingestion_table {
    margin-top: 20px;
    border: 1px solid #333;
    border-collapse: collapse;
}

.brand_promega_detail .detail_inner .ingestion_table th {
    border: 1px solid #333;
    width: 150px;
    padding: 5px 0;
    background-color: #f6f6f6;
}

.brand_promega_detail .detail_inner .ingestion_table td {
    border: 1px solid #333;
    text-align: center;
    padding: 5px 0;
}

.brand_promega_detail .detail_inner .ingestion_txt {
    font-size: 14px;
    margin-top: 10px;
}

.brand_promega_detail .detail_inner .detail_move {
    margin-top: 70px;
    border-top: 1px solid gray;
}


.brand_promega_detail .detail_inner .detail_move .move_box {
    display: block;
    float: left;
    width: 33.33%;
    text-align: center;
    /*    outline: 2px solid blue;*/
    margin-top: 50px;
    overflow: hidden;

}

.brand_promega_detail .detail_inner .detail_move .move_box:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.brand_promega_detail .detail_inner .detail_move .move_box:hover p {
    text-decoration: underline;
}



.brand_promega_detail .detail_inner .detail_move .move_box p {
    font-size: 20px;

}
