@charset "utf-8";

/*sub2_1*/



/*brand shop*/
.brand_shop {
    width: 100%;
    height: 400px;
    background: url(../img/sub2_1/brand.png) no-repeat center/cover;
}

.brand_shop .bs_inner {
    width: 100%;
    max-width: 1320px;  
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    color: #fff;
}

.bs_inner h2 {
    padding-top: 140px;
    font-size: 36px;
}

.bs_inner p {
    margin-top: 30px;
    font-size: 24px;
}



/*sub menu*/
section .sub_menu {
    border-bottom: 5px solid #00512a;
    text-align: center;
    height: 50px;
}

.sub_menu .sub_menu_inner {
    width: 1280px;
    margin: 0 auto;
}

.sub_menu .sub_menu_inner div{
    float:left;
    width: 320px;
    font-size: 18px;
    line-height: 50px;
    position: relative;      
}
.sub_menu .sub_menu_inner div:after{
    height: 24px;
    border: 1px solid gray;
    content: "";
    display: block;
    position: absolute;
    left:320px;
    top:50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.sub_menu .sub_menu_inner div:last-child:after{
    content: none;
}



.sub_menu .sub_menu_inner div.on {
    background: url(../img/sub1_1/choice.png) no-repeat;
    background-position: center bottom;
    font-weight: bold;
}

.sub_menu .sub_menu_inner div.on a {
    color: #00512a;
}


.sub_menu .sub_menu_inner a:hover {
    color: #00512a;
    font-weight: bold;
}


/*product_information*/

.product_information {
    padding-top: 30px;
    padding-bottom: 70px;
    background-color: #f4f4f4;
}

.product_information .pi_inner {
    width: 100%;
    max-width: 1320px;  
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.pi_inner>h2{
    font-size:22px;
    color:#333;
}

.pi_container{
    width: 100%;
}


.pi_inner .pi_container li {
    width: 370px;
    height: 260px;
    float: left;
    margin-top: 30px;
    margin-right: 43px;
    position: relative;
}

.pi_inner .pi_container li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #00512a;
}

.pi_inner .pi_container li:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 3px;
    background-color: #00512a;
}



.pi_container li a {
    width: 370px;
    height: 260px;
    display: block;
}

.pi_container li a img{
    width: 100%;
}

.pi_container li a:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 0%;
    background-color: #00512a;
}

.pi_container li a:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 0%;
    background-color: #00512a;
}


.pi_inner .pi_container li:hover::before {
    width: 100%;
    -webkit-transition: width .1s linear;
    -ms-transition: width .1s linear;
    transition: width .1s linear;
}

.pi_container li:hover > a::before {
    height: 100%;
    -webkit-transition: height .1s linear .1s;
    -ms-transition: height .1s linear .1s;
    transition: height .1s linear .1s;
}


.pi_inner .pi_container li:hover::after {
    width: 100%;
    -webkit-transition: width .1s linear .2s;
    -ms-transition: width .1s linear .2s;
    transition: width .1s linear .2s;
}

.pi_container li:hover > a::after {
    height: 100%;
    -webkit-transition: height .1s linear .3s;
    -ms-transition: height .1s linear .3s;
    transition: height .1s linear .3s;
}




.pi_container li img {
    width: 370px;
    height: 260px;
    display: block;  
}
