@charset "utf-8";

/*sub2_1_allatme*/


section {
/*    margin-top: 90px;*/

}


/*brand shop*/
.brand_shop{
    width: 100%;
    height: 400px;
    background: url(../img/sub2_1/brand.png) no-repeat center/cover;    
}

.brand_shop .bs_inner{
    width: 100%;
    max-width: 1320px;  
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
/*    outline: 2px solid lime;*/
    color:#fff;
}

.bs_inner h2 {
    padding-top: 140px;
    font-size: 36px;
}

.bs_inner p {
    margin-top: 30px;
    font-size: 24px;
}



/*brand_cf*/

.brand_cf{
    width: 100%;
    margin-top: 70px;
}

.brand_cf .cf_inner{
    width: 100%;
    max-width: 1320px;  
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
/*    outline: 2px solid lime;*/
}

.cf_inner>h2{
    width: 33px;
    background: url(../img/sub2_1/line.png) no-repeat;
    background-repeat: repeat-x;
    background-position: bottom;
}

.cf_inner>video{
    display: block;
    margin: 0 auto;
    margin-top: 40px;    
    width: 800px;
/*    outline: 2px solid blue;*/
    
}


/*brand_recommend*/

.brand_recommend{
    width: 100%;
    background-color: #f2f5f6;
    margin-top: 80px;
    padding: 70px 0;
}

.brand_recommend .re_inner{
    width: 100%;
    max-width: 1100px;  
    padding: 0 20px;
    box-sizing: border-box;    
    margin: 0 auto;
/*    outline: 2px solid blue;*/
    
}
.re_inner .re_container_allatme{
    float:left;
}


.re_inner>.re_container_allatme>p{
    font-size: 30px;
    text-align: center;
}
.re_inner>.re_container_allatme>p>span{
    font-size: 16px;
}

.re_inner>.re_container_allatme>p>b{
    font-size:24px;
}


.re_container .re_box_wrap_allatme{
    margin-top: 30px;
/*    outline: 2px solid lime;*/
}
.re_box_wrap_allatme .re_box{
    float:left;
    margin-right: 60px;
    text-align: center;
}
.re_box_wrap_allatme .re_box .re_ex{
    margin-top: 10px;
}

.re_box_wrap_allatme .re_box:last-child{
    margin-right: 0;
}

.re_box_wrap_allatme .re_box .re_icon_box{
    margin-top: 10px;
}

.re_box_wrap_allatme .re_box .re_icon_box img{
    width: 120px;
    display: block;
}



.re_inner .re_txt_allatme{
    float:left;
    margin-left: 70px;
    margin-top: 30px;
/*    outline: 2px solid red;*/
}

.re_txt_allatme>div{
    font-size: 18px;
}

.re_txt_allatme>div>p:nth-child(1){
    font-size:30px;
}

.re_txt_allatme>div>p:nth-child(2){
    margin-top: 20px;
    line-height: 1.6;
}




/*brand_menu*/
.brand_menu{
    width: 100%;
    height: 570px;

/*    outline: 2px solid blue;*/
}

.allatme_bg{
        background: url(../img/sub2_1/allatme-bg.jpg) no-repeat center/cover;    
}


.brand_menu .menu_inner{
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
/*    outline: 2px solid lime;*/
}

.menu_inner .menu_logo{
    text-align: center;
    padding-top: 150px;
    
}

.menu_inner .menu_logo img{
/*    width: 400px;*/
}

.menu_inner>p{
    text-align: center;
    font-size:30px;
    color:#fff;
    font-weight: 100;
    margin-top: 50px;
}

.menu_inner .menu_container_allatme{
/*    outline: 2px solid lime;*/
    width: 1060px;
    margin: 0 auto;
    margin-top:86px;
    overflow: hidden;
/*    overflow : hidden 현재 4개만 보여줌*/
    
}

.menu_container_allatme .menu_view{
    width: 1920px;
    position: relative;
}

.menu_container_allatme .menu_view .menu_box{
    float:left;
/*    outline: 2px solid blue;*/
}

.menu_box>a{
    display: block;
}

.menu_box>a:hover .menu_img_box{
/*
    transform: rotate(-15deg);
    transition: all 0.7s;
*/
}

.menu_box .menu_img_box{
    width: 265px;
    height: 265px;
}
.menu_box .menu_img_box img{
    width: 265px;
    height: 265px;
    display: block;
}

.menu_box .menu_title{
    text-align: center;
    font-size: 18px;
}



/*brand_promise*/
.brand_promise{
    clear:both;
    margin-top: 360px;
    margin-bottom: 70px;
}

.brand_promise .pr_inner{
    width: 100%;
    max-width: 1320px;  
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
/*    outline: 2px solid lime;    */
}

.pr_inner .pr_img_box{
    text-align: center;
}

.pr_inner>h2{
/*    outline: 2px solid lime;*/
    width: 963px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 0;
    color:#ac8931;
    text-align: center;
    font-size: 40px;
    border-top: 2px solid #ac8931;
    border-bottom: 2px solid #ac8931;
    font-weight: 100;   
        
}

.pr_inner .pr_container{
    width: 100%;
    max-width: 1320px;  
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;    
    margin-top:70px;
}


.pr_container .pr_box{
    float: left;
    width: 32%;
}
.pr_container>div~div{
    margin-left: 2%;
}


.pr_box:nth-child(4){
    margin-left: 0;
}

.pr_box:nth-child(4),
.pr_box:nth-child(5),
.pr_box:nth-child(6){
    margin-top: 100px;
}


.pr_box .pr_title{
    color:#ac8931;
    font-size: 20px;
}

.pr_box .pr_txt{
    color:#333;
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.7;
}


.move_btn_wrap{
    margin-top:150px;
    margin-bottom: 80px;
    text-align: center;
}

.move_btn_wrap .move_btn{
    display: inline-block;
    padding: 15px 70px;
    border: 2px solid #00512a;
    color:#00512a;
    border-radius: 30px;
    font-size:18px;
    font-weight: bold;
    
}

.move_btn:hover{
    background-color: #00512a;
    color:#fff;
}








