@charset "utf-8";

/*sub2_1_earthtous*/



/*brand shop*/
.brand_shop{
    width: 100%;
    height: 400px;
    background: url(../img/sub2_1/brand.png) no-repeat center/cover;    
}

.brand_shop .bs_inner{
    width: 100%;
    max-width: 1320px;  
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    color:#fff;
}

.bs_inner h2 {
    padding-top: 140px;
    font-size: 36px;
}

.bs_inner p {
    margin-top: 30px;
    font-size: 24px;
}






/*brand_recommend*/

.brand_recommend{
    width: 100%;
    background-color: #f2f5f6;
    padding: 70px 0;
}

.brand_recommend .re_inner{
    width: 100%;
    max-width: 1100px;  
    margin: 0 auto;
    
}


.re_inner>.re_container_earthtous>p{
    font-size: 30px;
    text-align: center;
    color: #ac8931;
    
}

.re_inner>.re_container_earthtous>p>b{
    font-size:24px;
    color: #333;
    font-weight: 100;
}


.re_inner .re_health{
    margin-top: 20px;
}

.re_health .re_health_box{
    float: left;
    width: 33.33%;
    height: 500px;
    padding: 0 40px;
    box-sizing: border-box;
}


.re_health_box>h2{
    margin-bottom: 20px;
}

.re_health_box>h2>span{
    font-size:16px;
}


/*brand_menu*/
.brand_menu{
    width: 100%;
    height: 570px;

}

.earthtous_bg{
     background: url(../img/sub2_1/earthtous-bg.jpg) no-repeat center/cover;
}


.brand_menu .menu_inner{
    width: 100%;
    max-width: 1320px;  
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.menu_inner .menu_logo{
    text-align: center;
    padding-top: 100px;
    
}

.menu_inner .menu_logo img{
    width: 120px;
}

.menu_inner>p{
    text-align: center;
    font-size:30px;
    color:#fff;
    font-weight: 100;
    margin-top: 50px;
}

.menu_inner .menu_container_earthtous{
    width: 795px;
    margin: 0 auto;
    margin-top:80px;
    overflow: hidden;
    
}

.menu_container_earthtous .menu_view{
    width: 1920px;
    position: relative;
}

.menu_container_earthtous .menu_view .menu_box{
    float:left;
}

.menu_box>a{
    display: block;
}



.menu_box .menu_img_box{
    width: 265px;
    height: 265px;
}
.menu_box .menu_img_box img{
    width: 265px;
    height: 265px;
    display: block;
}

.menu_box .menu_title{
    text-align: center;
    font-size: 18px;
}



/*brand_promise*/
.brand_promise{
    clear:both;
    margin-top: 360px;
    margin-bottom: 70px;
}

.brand_promise .pr_inner{
    width: 100%;
    max-width: 1320px;  
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.pr_inner .pr_img_box{
    text-align: center;
}

.pr_inner>h2{
    width: 963px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 0;
    color:#ac8931;
    text-align: center;
    font-size: 40px;
    border-top: 2px solid #ac8931;
    border-bottom: 2px solid #ac8931;
    font-weight: 100;  
        
}

.pr_inner .pr_container{
    width: 100%;
    max-width: 1320px;  
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;    
    margin-top:70px;
}


.pr_container .pr_box{
    float: left;
    width: 32%;
    height: 130px;
}
.pr_container>div~div{
    margin-left: 2%;
}


.pr_box:nth-child(4){
    margin-left: 0;
}

.pr_box:nth-child(4),
.pr_box:nth-child(5),
.pr_box:nth-child(6){
    margin-top: 60px;
}


.pr_box .pr_title{
    color:#ac8931;
    font-size: 20px;
}

.pr_box .pr_txt{
    color:#333;
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.7;
}



.move_btn_wrap{
    margin-top:150px;
    margin-bottom: 80px;
    text-align: center;
}

.move_btn_wrap .move_btn{
    display: inline-block;
    padding: 15px 70px;
    border: 2px solid #00512a;
    color:#00512a;
    border-radius: 30px;
    font-size:18px;
    font-weight: bold;
    
}

.move_btn:hover{
    background-color: #00512a;
    color:#fff;
}















