@charset "utf-8";

/*sub3_1*/

section {
    margin-bottom: 50px;
}

/*promotion*/

section .promotion {
    width: 100%;
    height: 400px;
    background: url(../img/sub3_1/promotion.jpg) no-repeat center/cover;

}

.promotion .promotion_inner {
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 70px;
    color: #fff;
}

.promotion_inner h2 {
    padding-top: 70px;
    font-size: 36px;
}

.promotion_inner p {
    margin-top: 30px;
    font-size: 24px;
}



/*sub menu*/
section .sub_menu {
    border-bottom: 5px solid #00512a;
    text-align: center;
    height: 70px;
}

.sub_menu .sub_menu_inner {
    width: 1280px;
    margin: 0 auto;

}

.sub_menu .sub_menu_inner .sub_menu_wrap {
    width: 640px;
    margin: 0 auto;
}


.sub_menu .sub_menu_inner .sub_menu_wrap div {
    float: left;
    width: 320px;
    font-size: 20px;
    line-height: 70px;
    position: relative;
}

.sub_menu .sub_menu_inner div:after {
    height: 42px;
    border: 1px solid gray;
    content: "";
    display: block;
    position: absolute;
    left: 320px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sub_menu .sub_menu_inner div:last-child:after {
    content: none;
}

.sub_menu .sub_menu_inner div.on {
    background: url(../img/sub1_1/choice.png) no-repeat;
    background-position: center bottom;
    font-weight: bold;
}

.sub_menu .sub_menu_inner div.on a {
    color: #00512a;
}

.sub_menu .sub_menu_inner a:hover {
    color: #00512a;
    font-weight: bold;
}


/*news*/
.news {
    margin-top: 50px;
    color: #333;
}

.news .news_inner {
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.news_inner>h2 {
    font-size: 30px;
}

.news_inner form {
    margin-top: 30px;
}

form {
    position: relative;
    height: 50px;
}

form .search_list,
form button {
    float: left;

}

form .searchform {
    position: absolute;
    right: 100px;
}


form input {
    width: 300px;
    height: 30px;
    outline: none;
    text-indent: 10px;
}

form button {
    margin-top: 2px;
    margin-left: 10px;
    width: 70px;
    height: 30px;
}

form button:hover {
    cursor: pointer;
}


.news_inner .news_container {
    margin-top: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid #eee;
}

.news_inner .news_container:last-child {
    border: 0;
}

.news_container .news_img {
    float: left;
}

.news_container .news_img img {
    width: 430px;

}

.news_container:hover .news_img img {
    opacity: 0.4;
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}



.news_container .news_box {
    float: left;
    margin-left: 100px;
    display: block;
    width: 700px;
}

.news_container:after {
    content: "";
    display: block;
    clear: both;
}

.news_box .news_date {
    width: 450px;
}

.news_box .news_title {
    height: 40px;
    font-size: 26px;
    margin-top: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.news_box:hover .news_title {
    text-decoration: underline;
}


.news_box .news_txt {
    font-size: 20px;
    margin-top: 10px;
    height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news_box:hover .news_txt {
    text-decoration: underline;
}

.news_box .news_arr>div {
    display: block;
    width: 48px;
    height: 48px;
    margin-top: 50px;
    background: url(../img/sub3_1/arrow.png) no-repeat;
    position: relative;
    left: 0;
    -webkit-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.news_box:hover .news_arr>div {
    left: 600px;
}




.news_box .news_arr span {
    display: none;
}




.news_more {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 100px;
}

.news_more .news_more_btn {
    display: inline-block;
    padding: 10px 50px;
    border: 2px solid #00512a;
    color: #00512a;
}

.news_more_btn:hover {
    color: #fff;
    background-color: #00512a;
}