@charset "utf-8";

/*sub4_3*/

section {
        margin-bottom: 50px;
}

/*recruitment*/
.recruitment {
    width: 100%;
    height: 400px;

    background: url(../img/sub4_1/recruitment.jpg) no-repeat center/cover;
}

.recruitment .recruitment_inner {
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    color: #fff;
}

.recruitment_inner > h2 {
    font-size: 36px;
    padding-top: 140px;
}

.recruitment_inner > p {
    margin-top: 30px;
    font-size: 24px;
}

/*sub menu*/
section .sub_menu {
    border-bottom: 5px solid #00512a;
    text-align: center;
    height: 70px;
}

.sub_menu .sub_menu_inner {
    width: 1280px;
    margin: 0 auto;

}

.sub_menu .sub_menu_inner .sub_menu_wrap {
    width: 960px;
    margin: 0 auto;
}


.sub_menu .sub_menu_inner .sub_menu_wrap div {
    float: left;
    width: 320px;
    font-size: 20px;
    line-height: 70px;
    position: relative;
}

.sub_menu .sub_menu_inner div:after {
    height: 42px;
    border: 1px solid gray;
    content: "";
    display: block;
    position: absolute;
    left: 320px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sub_menu .sub_menu_inner div:last-child:after {
    content: none;
}

.sub_menu .sub_menu_inner div.on {
    background: url(../img/sub1_1/choice.png) no-repeat;
    background-position: center bottom;
    font-weight: bold;
}

.sub_menu .sub_menu_inner div.on a {
    color: #00512a;
}

.sub_menu .sub_menu_inner a:hover {
    color: #00512a;
    font-weight: bold;
}



/*welfare*/
.welfare {
    margin-top: 50px;
    color:#333;
}

.welfare .welfare_inner {
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 30px;
}

.welfare_inner > h2 {
    font-size: 30px;
}

.welfare_inner > p {
    font-size: 20px;
    margin-top: 10px;
}


.wf_conatiner {
    margin-top: 50px;
}

.wf_conatiner .wf_box {
    float: left;
    width: 23%;
    height: 380px;
    margin-right: 2%;
    margin-top: 50px;
    border: 2px solid #eee;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
}

.wf_box:hover{
    border-color:#00512a;
    box-shadow: 0 0 6px #ccc;
}


.wf_box .wf_title {
    font-size: 24px;
}

.wf_box .wf_txt {
    color: #7e7e7e;
    margin-top: 30px;
    font-size:14px;
}


.wf_box .wf_img {
    position: absolute;
    bottom: 20px;
    right: 20px;

}

.wf_img img {
    display: block;
}







.welfare img {
    width: 100px;
}
