@charset "utf-8";

/*sub4_2*/


section {
    margin-bottom: 50px;
}

/*recruitment*/
.recruitment{
    width:100%;
    height: 400px;
    
    background: url(../img/sub4_1/recruitment.jpg) no-repeat center/cover;
}

.recruitment .recruitment_inner{
    width: 100%;
    max-width: 1320px;  
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    color: #fff;
}
.recruitment_inner>h2{
    font-size: 36px;
    padding-top: 140px;
}

.recruitment_inner>p{
    margin-top: 30px;
    font-size: 24px;
}

/*sub menu*/
section .sub_menu {
    border-bottom: 5px solid #00512a;
    text-align: center;
    height: 70px;
}

.sub_menu .sub_menu_inner {
    width: 1280px;
    margin: 0 auto;

}

.sub_menu .sub_menu_inner .sub_menu_wrap{
    width: 960px;
    margin: 0 auto;
}


.sub_menu .sub_menu_inner .sub_menu_wrap div{
    float:left;
    width: 320px;
    font-size: 20px;
    line-height: 70px;
    position: relative;      
}
.sub_menu .sub_menu_inner div:after{
    height: 42px;
    border: 1px solid gray;
    content: "";
    display: block;
    position: absolute;
    left:320px;
    top:50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.sub_menu .sub_menu_inner div:last-child:after{
    content: none;
}

.sub_menu .sub_menu_inner div.on{
    background: url(../img/sub1_1/choice.png) no-repeat;
    background-position: center bottom;
    font-weight: bold;
}
.sub_menu .sub_menu_inner div.on a{
    color:#00512a;
}

.sub_menu .sub_menu_inner a:hover {
    color: #00512a;
    font-weight: bold;
}



/*recruitment_method*/
.recruitment_method{
    margin-top: 50px;
    color:#333;
}

.recruitment_method .rm_inner{
    width: 100%;
    max-width: 1320px;  
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.rm_inner>h2{
    font-size:30px;
}

.rm_inner>p{
    font-size:24px;
    margin-top: 10px;
}

.rm_inner .rm_seq{
    width: 100%;
    margin-top: 80px;
}

.rm_seq .rm_seq_box{    
    width: 158px;
    height: 158px;    
    float:left;
    border-radius: 50%;
    border: 2px solid #f3f3f3;
    position: relative;
    margin-right: 40px;
    opacity: 0;
}

.rm_seq_box:last-child{
    margin-right: 0;
    background-color:#00512a;
    color:#fff;
}

.rm_seq_box:after{
    content: "";
    display: block;
    position: absolute;
    top:50%;
    right:0%;
    margin-top: -13px;
    margin-right: -28px;
    background: url(../img/sub4_2/step_arrow.png) no-repeat;
    width: 13px;
    height: 22px;
}




.rm_seq_box:last-child:after{
    content: none;
}




.rm_seq_box .rm_seq_pos{
    position: absolute;
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.rm_seq_pos .rm_seq_title{
    font-size:22px;
    color:#00512a;
    font-weight: bold;
}

.rm_seq_pos .final{
    color:#fff;
}

.rm_seq_pos .rm_seq_txt{
    margin-top: 10px;
    font-size:18px;
}


.rm_box1{
    -webkit-transition: all 0.5s;    
    -ms-transition: all 0.5s;    
    transition: all 0.5s;    
}

.rm_box2{
    -webkit-transition: all 0.5s 0.5s;    
    -ms-transition: all 0.5s 0.5s;    
    transition: all 0.5s 0.5s;    
}

.rm_box3{
    -webkit-transition: all 0.5s 1s;    
    -ms-transition: all 0.5s 1s;    
    transition: all 0.5s 1s;    
}

.rm_box4{
    -webkit-transition: all 0.5s 1.5s;    
    -ms-transition: all 0.5s 1.5s;    
    transition: all 0.5s 1.5s;    
}

.rm_box5{
    -webkit-transition: all 0.5s 2s;    
    -ms-transition: all 0.5s 2s;    
    transition: all 0.5s 2s;    
}

.rm_box6{
    -webkit-transition: all 0.5s 2.5s;    
    -ms-transition: all 0.5s 2.5s;    
    transition: all 0.5s 2.5s;    
}



.rm_box1.on,
.rm_box2.on,
.rm_box3.on,
.rm_box4.on,
.rm_box5.on,
.rm_box6.on{
    opacity: 1;
}









.rm_inner .rm_step_wrap{
    margin-top: 150px;
}
.rm_step_wrap .rm_step_box{
    float:left;
    width: 50%;
    height: 150px;
    margin-bottom: 50px;
}
.rm_step_box img{
    width: 100px;
    display: block;
}

.rm_step_box>div{
    float:left;
}

.rm_step_box:after{
    content: "";
    display: block;
    clear: both;
}

.rm_step_box .rm_step_txt{
    width: 400px;
    margin-left: 80px;

}

.rm_step_txt>p:first-child{
    font-size:24px;
}

.rm_step_txt>p:first-child>span{
    font-weight: bold;
    color:#00512a;
}

.rm_step_txt>p:last-child{
    margin-top: 20px;
    font-size:18px;
}


