@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color:#333;
}

section{
    margin-top: 80px;
    margin-bottom: 30px;
}

.email_inner{
    width: 90%;
    margin: 0 auto;
}

.email_title {
    margin-top: 70px;
    font-size:30px;
    font-size: 1.875rem;
}

.email_txt{
    margin-top: 20px;
    line-height: 1.8;
    font-size:14px;
    font-size:0.875rem;
}