@charset "utf-8";

section{
    margin:70px 0;
}

.realman{
    width: 100%;
}

.realman> video{
    width: 100%;
}

.rm_recommend{
    width: 100%;
    margin-top: 50px;
    background-color: #f2f5f6;
    padding: 40px 0;
}

.rm_recommend .rm_recommend_inner{
    width: 90%;
    margin: 0 auto;
}

.rm_recommend_inner .rm_re_img{
    border: 1px solid #eee;
}
.rm_recommend_inner .rm_re_img img{
    width: 100%;
}


.rm_recommend_inner>h3{
    font-size:26px;
    font-size:1.625rem;
    text-align: center;
    margin-top: 20px;
    word-break: keep-all;
}

.rm_recommend_inner .rm_wrap{
    margin-top: 30px;
}
.rm_recommend_inner .rm_wrap .rm_box{
    float: left;
    width: 50%;
    height: 180px;
/*    outline: 2px solid lime;*/
    text-align: center;
}



.rm_recommend .rm_txt{    
/*    outline: 2px solid lime;*/
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.rm_txt>h3{
    font-size:22px;
    font-size:1.375rem;
    text-align: center;
    word-break: keep-all;
}

.rm_txt>p{
    margin-top: 10px;
}


.rm_product{
    margin-top: 70px;
}

.rm_product .rm_product_inner{
    width: 90%;
    margin: 0 auto;
}

.rm_product_inner>h3{
    text-align: center;
    font-size :22px;
    font-size:1.375rem;
    word-break: keep-all;
}

.rm_product_inner .rm_con{
    margin-top: 40px;
}

.rm_con .rm_box .rm_img img{
    width: 100%;
}

.rm_con .rm_box p{
    text-align: center;
    margin-top: 10px;
}










.rm_promise{
    margin-top: 100px;
}

.rm_promise .rm_promise_inner{
    width: 90%;
    margin: 0 auto;
}

.rm_promise_inner .rm_pr_img{
    text-align: center;
}

.rm_pr_img img{
    width: 70px;
}

.rm_promise_inner .rm_pr_title{
    color:#ac8931;
    text-align: center;
/*    outline: 2px solid lime;*/
    padding: 10px 0;
    border-top: 2px solid #ac8931;
    border-bottom: 2px solid #ac8931;
    font-size:20px;
    font-size: 1.25rem;
    letter-spacing: -1px;
}

.rm_promise_inner .pr_container{
    margin-top: 30px;
}

.pr_container .pr_box{
    margin-bottom: 30px;
}
.pr_box .pr_title{
    color: #ac8931;
    margin-bottom: 10px;
}



.brand_move_wrap{
    margin-top: 80px;
    text-align: center;
}

.brand_move_wrap .move_btn{
    background-color:#00512a;
    color:#fff;
    display: inline-block;
    padding: 15px 60px;
    border-radius: 100px;
}


