@charset "utf-8";


section {
    margin-top: 100px;
    margin-bottom: 50px;
}



.product_info {
    width: 100%;
}

.product_info .product_info_inner {
    width: 90%;
    margin: 0 auto;
}

.product_info_inner>h2 {
    margin-bottom: 20px;
}

.product_info_inner .pd_logo_wrap .pd_box {
    float: left;
    width: 50%;
    /*    outline: 2px solid lime;*/
    border: 1px solid #eee;
    box-sizing: border-box;
}

.pd_box a {
    display: block;
    width: 100%;
    height: 100%;
}

.pd_box a img {
    width: 100%;
    display: block;
}