@charset "utf-8";

section{
    margin-top: 80px;
    margin-bottom: 50px;
}


.eyeclear{
    width: 100%;
}

.eyeclear>video{
    width: 100%;
}

.eyeclear .eyeclear_inner{
    width: 90%;
    margin: 0 auto;
}



.eyeclear_inner .ec_recommend{
    margin-top: 50px;
}

.ec_recommend .ec_re_img{
    border: 1px solid #eee;
}
.ec_recommend .ec_re_img img{
    width: 100%;
}



.ec_recommend>h3{
    text-align: center;
    font-size:26px;
    font-size:1.625rem;
    margin-top: 20px;
}
.ec_recommend>p{
    text-align: center;
    font-size:16px;
    font-size:1rem;   
    margin-top: 10px;
}

.ec_recommend .re_box_wrap_eyeclear{
    margin-top: 30px;
}


.ec_recommend .re_box_wrap_eyeclear .re_box{
    float:left;
/*    outline: 2px solid lime;*/
    width: 32%;
}
.re_box~.re_box{
    margin-left: 2%;
}

.re_box .re_icon_box img{
    width: 100%;
    display: block;
}

.re_box .re_ex{
    text-align: center;
}

.eyeclear_inner .ec_txt{
    margin-top: 50px;
}

.ec_txt>h3{
    font-size:22px;
    font-size:1.375rem;
    text-align: center;
}

.ec_txt>p{
    margin-top: 20px;
}


.ec_product{
    width: 100%;
    margin-top: 80px;
}

.ec_product .ec_product_inner{
    width: 90%;
    margin: 0 auto;
}

.ec_product_inner>h3{
    font-size:22px;
    font-size:1.375rem;
    text-align: center;
    word-break: keep-all;
}

.ec_product_inner .ec_wrap{
    margin-top: 20px;
}

.ec_product_inner .ec_wrap .ec_box{
/*
    width: 50%;
    float:left;
*/
/*    outline: 2px solid lime;*/
/*    border: 2px solid black;*/
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 20px;
}

.ec_box a{
    display: block;
    width: 100%;
    height: 100%;
}


.ec_box a .ec_img{
    width: 100%;
}

.ec_img img{
    width: 100%;
}

.ec_box a p{
    text-align: center;
}

.ec_promise{
    margin-top: 100px;
}

.ec_promise .ec_promise_inner{
    width: 90%;
    margin: 0 auto;
}

.ec_promise_inner .ec_pr_img{
    text-align: center;
}

.ec_pr_img img{
    width: 70px;
}

.ec_promise_inner .ec_pr_title{
    color:#ac8931;
    text-align: center;
/*    outline: 2px solid lime;*/
    padding: 10px 0;
    border-top: 2px solid #ac8931;
    border-bottom: 2px solid #ac8931;
    font-size:20px;
    font-size: 1.25rem;
}


.ec_promise_inner .pr_container{
    margin-top: 30px;
}

.pr_container .pr_box{
    margin-bottom: 30px;
}
.pr_box .pr_title{
    color: #ac8931;
    margin-bottom: 10px;
}


.brand_move_wrap{
    margin-top: 80px;
    text-align: center;
}

.brand_move_wrap .move_btn{
    background-color:#00512a;
    color:#fff;
    display: inline-block;
    padding: 15px 60px;
    border-radius: 100px;
}








