@charset "utf-8";

section{
    margin-top:100px;
    margin-bottom: 30px;
}




.news{
    width: 100%;
}

.news .news_inner{
    width: 90%;
    margin: 0 auto;
}
.news_inner>form{
/*    outline: 2px solid red;*/
}


.news_inner .searchform{
/*    float:right;*/
}
.searchform .search_list{
    float:left;
    
}

.searchform button{
    float: right;
}

.searchform .search_list{
/*    outline: 2px solid red;*/
    width: 75%;
}

.search_list input{
    width: 100%;
    height: 40px;
    margin-right: 20px;
/*    outline: 2px solid lime;*/
}

.searchform button{
    width: 60px;
    height: 44px;  
/*    outline: 2px solid lime;*/
}



.news_inner .news_wrap .news_box{
    margin-top: 50px;
    /* border: 1px solid #ccc; */
}
.news_box .news_img{
    
}
.news_box .news_img img{
    width: 100%;
}

.news_box .news_title{
    margin-top: 10px;
    text-indent: 10px;
/*    outline: 2px solid lime;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.news_box .news_date{
    margin-top: 10px;
    color:darkgray;
    font-size:14px;
    font-size:0.875rem;
    text-indent: 10px;
    margin-bottom: 10px;
}


.news_btn_wrap{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.news_btn_wrap .news_btn{
    display: inline-block;
    background-color: #00512a;
    color:#fff;
    padding: 10px 80px;
}






















